.App {
  text-align: center;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:rgb(73, 79, 81) ;
  color: white;
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.rowC{
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableItem{
  background-color: rgba(255, 255, 255, 0.8);
  
  padding: 20px;
  text-align: center;
}